<br>
@font-face {font-family: tk7names; src: url('./font/tk7names.ttf');}
@font-face {font-family: terminator; src: url('./font/terminator.ttf');}
@font-face {font-family: comic; src: url('./font/comic.ttf');}
@font-face {font-family: Pushkin; src: url('./font/pushkin.ttf');}
@font-face {font-family: pocherk; src: url('./font/segoesc.ttf');}
@font-face {font-family: sport; src: url('./font/sport.ttf');}
@font-face {font-family: psx; src: url('./font/psx.ttf');}
@font-face {font-family: south; src: url('./font/south.ttf');}
@font-face {font-family: ao; src: url('./font/ao.otf');}

::-webkit-scrollbar {width: 10px; height: 10px;}
::-webkit-scrollbar-track {background: rgba(255, 255, 255, 0.25); box-shadow: inset 0 0 6px rgba(0, 0, 255, 0.5); border-radius: 10px;}
::-webkit-scrollbar-thumb {background: rgba(255, 255, 255, 0.25); border-radius: 10px; box-shadow: inset 0 0 6px blue;}
div {display: none;}
body {padding: 5px; background-color: white;}
body.exclusive {padding: 0px; overflow-x: hidden; background: rgba(255, 255, 255, 0.25);}
select {background: #f8f8ff; background-image: linear-gradient(#fff, #ddd); font-size: 14px; border-radius: 5px; box-shadow: inset 0 0 12px #0000ff30;}
input[type=checkbox] {margin: 2px;}
ul {padding: 0;}

input[type=range] {-webkit-appearance: none; width: 100%; margin: -3px 0; background: transparent;}
input[type=range]:focus {outline: none;}
input[type=range]::-webkit-slider-runnable-track {width: 100%; height: 12px; cursor: pointer; background: rgba(128, 128, 255, 0.1); border-radius: 10px; border: 1px solid rgba(0, 0, 255, 0.5);}
input[type=range]::-webkit-slider-thumb {border: 3px solid rgba(255, 255, 255, 0.5); height: 14px; width: 14px; border-radius: 10px; background: rgba(0, 0, 128, 0.6); cursor: pointer; -webkit-appearance: none; margin-top: -2px;}
input[type=range]::-moz-range-track {width: 100%; height: 12px; cursor: pointer; background: rgba(128, 128, 255, 0.1); border-radius: 10px; border: 1px solid rgba(0, 0, 255, 0.5);}
input[type=range]::-moz-range-thumb {border: 3px solid rgba(255, 255, 255, 0.5); height: 10px; width: 10px; border-radius: 10px; background: rgba(0, 0, 128, 0.6); cursor: pointer;}
input[type=range]::-ms-track {width: 100%; height: 12px; cursor: pointer; background: transparent; border-color: transparent; color: transparent;}
input[type=range]::-ms-fill-lower {background: rgba(102, 102, 255, 0.1); border: 1px solid rgba(0, 0, 255, 0.5); border-radius: 20px;}
input[type=range]::-ms-fill-upper {background: rgba(128, 128, 255, 0.1); border: 1px solid rgba(0, 0, 255, 0.5); border-radius: 20px;}
input[type=range]::-ms-thumb {border: 3px solid rgba(255, 255, 255, 0.5); height: 14px; width: 14px; border-radius: 10px; background: rgba(0, 0, 128, 0.6); cursor: pointer;}
input[type=button] {border: 1px solid darkgrey; border-radius: 5px; padding: 0px; background: #f8f8ff; background-image: linear-gradient(#fff, #ddd); box-shadow: inset 0 0 12px #0000ff30;}

#tkoif {display: none;}
.toplogo {width: 100%; margin-top: -30px; margin-bottom: -20px;}
.toplogofon {position: absolute; width: 100%; height: 110px; top: 0; margin-left: -13px; background: transparent; background-image: linear-gradient(#ffffff40, transparent); z-index: -2;}
.button {font-size: 20px; text-align: center; vertical-align: middle; background: #4444FF; background: linear-gradient(to bottom, rgba(128, 128, 255, 0.5) 0%, rgba(0, 0, 255, 0.25) 50%, rgba(0, 0, 255, 0.75) 51%, rgba(128, 128, 255, 0.5) 100%); border-radius: 5px; padding-left: 5px; padding-right: 5px; border: 1px solid white; box-shadow: 0 0 3px rgba(0, 0, 0, 0.5); text-shadow: 0 0 2px blue, 0 0 4px blue; color: white; margin: 2px; padding-top: 1px; padding-bottom: 2px; cursor: pointer;}
.button:hover {background: #6666FF; background: linear-gradient(to bottom, rgba(128, 128, 255, 0.75) 0%, rgba(0, 0, 255, 0.5) 50%, rgba(0, 0, 255, 1) 51%, rgba(128, 128, 255, 0.75) 100%); box-shadow: 0 0 6px blue; text-shadow: 0 0 4px rgb(0, 0, 255);}
.charselect {width: 200px; height: 30px; font-weight: 600; background: #f0f0ff; background-image: linear-gradient(to bottom, #fff, #aaf); border-radius: 5px;}
#borderleft {position: fixed; left: 0px; top: 0px;}
#borderright {position: fixed; right: 0px; top: 0px;}
td.niz {cursor: pointer; width: 70px; min-width: 70px; max-width: 70px;}
#todblink {font-size: 16px; color: blue;}
#downloadcharname {font-family: comic;}
.content {font-family: comic; background: rgba(200, 200, 200, 0.25); border-radius: 10px; text-shadow: 0 0 3px white;}
.rastalkovkabase {font-family: pocherk; font-size: 14px;}
.rastalkovkaexclusive {font-size: 15px;}
.bigchartitleleft {position: absolute; left: 15px;}
.bigchartitle {position: absolute; right: 115px;}
.bigcharimg {position: absolute;
    right: 20px;
    width: 70px;
    height: 700px;
    background-position-y: 950px;
    box-shadow: inset 0 0 10px;
    z-index: -1;}
.characterleft {font-family: terminator;
    font-size: 30px;
    color: rgba(0, 0, 0, 0);
    background: linear-gradient(to bottom, #000000 15%, #E0E0E0 40%, #FFFFFF 50%, #000000 60%, #FFFFFF 78%, #000000 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -ms-background-clip: text;}
.characterleft:after {position: relative;
    right: 50%;
    content: attr(title);
    color: white;
    text-shadow: -1px -1px 3px rgba(0, 0, 0, 0.5), -1px 1px 3px rgba(0, 0, 0, 0.5), 1px -1px 3px rgba(0, 0, 0, 0.5), 1px 1px 3px rgba(0, 0, 0, 0.5);
    z-index: -1;}
.character {font-family: sans-serif;
    font-size: 36px;
    font-weight: 900;
    color: rgba(0, 0, 0, 0);
    background: linear-gradient(to bottom, #000000 15%, #E0E0E0 40%, #FFFFFF 50%, #000000 60%, #FFFFFF 78%, #000000 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -ms-background-clip: text;}
.character:before {position: relative;
    left: 50%;
    content: attr(title);
    color: white;
    text-shadow: -1px -1px 3px rgba(0, 0, 0, 0.5), -1px 1px 3px rgba(0, 0, 0, 0.5), 1px -1px 3px rgba(0, 0, 0, 0.5), 1px 1px 3px rgba(0, 0, 0, 0.5);
    z-index: -1;}
.new {color: red; font-size: 12px; font-weight: 900; text-shadow: 0 0 5px white, 0 0 7px white, 0 0 10px white;}
.krut {border-radius: 50%; width: 20px; height: 20px; box-shadow: 0 0 5px white;}
.debug {position: absolute; top: -9999px; width: calc(100% - 94px); margin-top: 10px; font-size: 12px; font-family: monospace; padding: 3px; background: rgba(128, 128, 192, 0.2);}


.anic0table {margin-left: 8px;}
.anipresam {position: relative; cursor: pointer; height: 22px; vertical-align: middle; transition: 0.3s; transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);}
.anic0imgtd {vertical-align: top;}
.anic0img {width: 50px; position: absolute; margin-left: 296px; margin-top: -4px; cursor: pointer; display: none; z-index: 3;}
.anisaminfo {position: absolute; left: 335px; margin-top: 40px; font-size: 13px; font-family: sans-serif; width: 480px; border-radius: 5px; padding: 5px; color: black; background: rgba(255, 255, 255, 0.5); border: 1px solid rgba(255, 255, 255, 0.5); box-shadow: 0 0 5px, inset 0 0 10px white; display: none;}
.anisam {position: relative; font-size: 14px; font-family: monospace !important; height: 0px; width: 290px; margin-top: 3px; margin-bottom: 3px; background: rgba(255, 255, 255, 0.5); box-shadow: inset 0 0 10px white; display: none;}
.anisamextra {font-size: 14px; width: 290px; margin-top: 3px; margin-bottom: 3px; background: rgba(255, 255, 255, 0.5); box-shadow: inset 0 0 10px white;}
.anisamextraqr {position: absolute; margin-left: 300px; width: 25px; margin-top: 0px; cursor: pointer;}
.anipresam:hover {color: blue; font-size: 19px; vertical-align: middle; text-shadow: 0 0 3px white, 0 0 5px white, 0 0 7px white; font-weight: 600;}
.anisaminfoextra {text-align: center; box-shadow: 0 0 5px black; width: 480px; height: 272px; margin-bottom: 5px; z-index: 2;}

.anisamset {font-size: 14px; width: 270px; margin-left: 3px; font-family: monospace !important; background: rgba(255, 255, 255, 0.5); box-shadow: inset 0 0 10px white;}
.c0preset {padding-left: 3px; margin-left: 3px; margin-top: 3px; margin-bottom: 3px; border: 1px solid blue; cursor: pointer; border-radius: 5px; width: 250px; height: 21px; position: relative; height: 23px; background: linear-gradient(-10deg, rgba(128, 128, 255, 0.1), rgba(128, 128, 128, 0.05), rgba(128, 128, 255, 0.1));}
.c0charpreset {padding-left: 3px; margin-left: 3px; margin-top: 3px; margin-bottom: 3px; border: 1px solid blue; cursor: pointer; border-radius: 5px; width: 300px; height: 21px; position: relative; height: 23px; background: linear-gradient(-10deg, rgba(128, 128, 255, 0.1), rgba(128, 128, 128, 0.05), rgba(128, 128, 255, 0.1));}
.c0preset:hover {color: blue; font-size: 18px;}
.c0charpreset:hover {color: blue; font-size: 17px;}
.c0presettd {transition: 0.1s; vertical-align: top; height: 22px; padding-top: 2px; padding-left: 1px;}
.c0charpresettd {transition: 0.1s; vertical-align: top; height: 22px; padding-top: 2px; padding-left: 1px;}
.c0set {width: 796px; height: 200px; border: 1px solid blue; border-radius: 5px; position: absolute; left: -2000px; margin-top: -203px; margin-bottom: 3px; background: rgba(255, 255, 255, 0.25);}
.c0charset {width: 796px; height: 200px; border: 1px solid blue; border-radius: 5px; position: absolute; left: -2000px; margin-top: -203px; margin-bottom: 3px; background: rgba(255, 255, 255, 0.25);}
.c0setimg {width: 50px; position: absolute; margin-top: -15px; margin-left: -5px; cursor: pointer; z-index: 3;}
.c0charsetimg {width: 50px; position: absolute; margin-top: -15px; margin-left: -5px; cursor: pointer; z-index: 3;}
.c0iframe {width: calc(100% + 8px); height: calc(100% + 6px); margin-left: -3px; border: 0px; border-radius: 5px; box-shadow: inset 0 0 10px white;}
.c0chariframe {width: calc(100% + 8px); height: calc(100% + 6px); margin-left: -3px; border: 0px; border-radius: 5px; box-shadow: inset 0 0 10px white;}
.generatorbody {min-width: 796px; min-height: 200px; padding: 0px; margin: 0px; overflow: hidden; background: #e8e8f8; background: linear-gradient(-10deg, rgba(128, 128, 255, 0.1), rgba(128, 128, 128, 0.05), rgba(128, 128, 255, 0.1));}
.generatortab {width: 693px; margin-top: -6px; background: rgba(192, 192, 192, 0.5);}
.pole {border: 0px;}

#podskazka {
  position: absolute;
  display: none;
  border: 1px solid #0000FF;
  padding: 5px;
  font-family: sans-serif;
  font-size: 11px;
  color: #000000;
  background: rgba(255, 255, 255, 0.75);
  border-radius: 5px;
  z-index: 3;
  }
.orig {position: absolute; width: 30px; margin-top: -5px;}
.info {position: absolute; width: 20px; height: 20px; margin-top: 3px; margin-left: 3px; cursor: help;}

.c0pre {margin-left: 8px; cursor: pointer; color: black; height: 22px; vertical-align: middle; position: relative; transition: 0.3s; transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);}
.c0pre:hover {color: blue; font-size: 19px; vertical-align: middle;}
.c0 {font-size: 14px; height: 17px; width: 290px; position: relative; background: rgba(255, 255, 255, 0.5); display: none;}
.star {display: inline-block; transform: translateY(3px); margin: -8px 0 0 1px; width: 20px; border-radius: 50%; transition: 0.3s; transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);}
.anipresam:hover > .star {width: 25px; transform: translateY(5px); box-shadow: 0 0 10px white;}
.starpresam {position: relative; cursor: pointer; width: 250px; height: 17px; margin-top: 2px; margin-bottom: 2px; padding-top: 2px; vertical-align: middle; transition: 0.3s; transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);}
.starpresam:hover {color: blue; font-size: 19px; vertical-align: middle;}

